.App {
  text-align: center;
}

.color-block:hover {
  box-shadow: 0 3px 3px grey;
  cursor: pointer;
}

.copy {
  padding-top: 10px;
  height: 0;
  color: green;
  font-weight: bold;
  opacity: 0;
  transition: height 0.5s ease-out, opacity 0.3s ease-out;
}

.copy.success {
  height: 30px;
  opacity: 1;
}

.input {
  border: 3px solid grey;
  animation-name: border;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes border {
  0% {
    border: 3px solid grey;
  }
  50% {
    border: 3px solid white;
  }
  100% {
    border: 3px solid grey;
  }
}